#footer {
	box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, .2);
}

#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	//border-top: 1px solid #ccc;
	margin-top: rem-calc(60);
}

.footer-message {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	p { 
		margin: 0; 
		font-size: 0.75em; 
		color: $light-grey-three;
		@media screen and (min-width: 768px){
			display: inline-block;
		}
	}
	
}

.footer-logo {
	@media screen and (max-width: 768px) {
		padding-top: 70px;
	}
}

.footer-logo > a, .footer-links > a {
  @extend %footerMobile;
}

.footer-links > a { 
  letter-spacing: $letter-spacing-global;
  @media screen and (max-width: 768px){
    padding-left: 0;
  }
}

.footer-logo {
  margin-top: 40px;
  display: inline-block;
  @extend %footerMobile;
  width: 85px;
}
#footer-container {
  background-color: $white;
  margin-top: 0;
}

.footer__spacer {
  display: block;
  width: 100%;
  height: 40px;
}
#footer {
  width: 100%;
  max-width : inherit !important;
  padding-bottom: 10%;
  text-align: center !important;
}
.footer-links {
  display: inline-block;
  width: 66.6%;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;

  a { 
    color: $black; 
    letter-spacing: $letter-spacing-global;
    font-weight: 800;
    text-transform: uppercase;
    padding: 2%;
    font-size: 11px;
    line-height: 4em;

  }
  @include breakpoint(medium){
    a:hover{
      color: $primary-red;
    } 
  }
  @media screen and (max-width: 768px){
    display: table;
    a { margin: 40px auto; }
  } 
}

.social-icons {
	// svg icons on footer
	svg { 
		width: 14px; 
		height: 14px; 
	}
	display: inline-block;
	text-align: right;
	a {
		padding-left:7.5%;
	}
	@media screen and (max-width: 768px){
		display: table;
		margin: 0 auto;
		width: 300px;
		text-align: center;
		a {
			padding: 5%;
		}
	}
}
