
/* Navigation breakpoints */

.desktop-menu, .top-bar-left {
  @include show-for(medium);
}

/* Mobile menu */

.off-canvas {
 > ul.menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

/* Tablet and desktop menu */
.top-bar {

  .menu .home a {
    font-size: 1rem;
    color: #B9B9B9;
  }

  .menu a {
    height: 45px;
    line-height: 45px;
    color: #e6e6e6;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1;

    &:hover:not(.button) {
      background-color: #2a2a2a;
    }
  }

  .menu>li:not(.menu-text)>a { padding: 1rem; }
  .menu li:not(:last-child) { border-right: 1px solid #4e4e4e; }

  .dropdown.menu .submenu {
    background-color: #121212;
    color: #e6e6e6;
    border: 0;
  }

 

  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }

  .dropdown.menu:first-child >
    li.is-dropdown-submenu-parent >
    a::after {
      display: none;
    }

}
/* Basic styles for post navigation. Nicolas Gallagher's "Micro clearfix" https://css-tricks.com/snippets/css/clear-fix/ */
.post-navigation:before,
.post-navigation:after {
	content: "";
    	display: table;
}
.post-navigation:after {
	clear:both;
}
/* Text meant only for screen readers. Addresses part of theme-check issue #840. https://github.com/Automattic/_s/blob/master/style.css */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
.nav-previous {
	float:left;
}
.nav-next {
	float:right;
}

// desktop navigation hover
.submenu > li {
    display: inline-block !important;
}

.is-dropdown-submenu{
  border: none;
  @media screen and (max-width: 1024px){
    left: 0 !important;
  }
}

.is-dropdown-submenu {
  top: 54px  !important;
  text-align: center !important;
  background-color: $primary-grey;
  @include breakpoint(medium){
    width: 160vw;
  }
  width: 150vw;
  li {
    //padding: 3%;
    @media screen and (min-width: 640px){
      width: 7.5%;

    }
    @media screen and (min-width: 1024px){
        width: 10%!important;
        padding: 0.5%;
    }
  }
}

.is-dropdown-submenu {
  transform: translateX(-50%);
}
.first-submenu-item {
  transform: translateX(-40%);
}
.before-last-submenu-item {
  transform: translateX(-55%);
  @media screen and (max-width: 1200px){
    transform: translateX(-58%);
  }
}
.last-submenu-item {
  transform: translateX(-63%);
}

.first-submenu-item-scroll {
  @media screen and (min-width: 1300px){
    transform: translateX(-40%);
  }
  transform: translateX(-30%);
}
.before-last-submenu-item-scroll {
  @media screen and (min-width: 1300px){
    transform: translateX(-43%);
  }
  transform: translateX(-47%);
}
.middle-submenu-item-scroll{
  transform: translateX(-40%);
}
.last-submenu-item-scroll {
  transform: translateX(-53%);
}

.is-dropdown-submenu li a { 
  font-size: 0.75em !important; 
  font-weight: 400 !important;
}

.icons__container {
  border-bottom: 1px solid $primary-grey;
  float: right;
  top: 0;
  width: 712px;
  height: 62.5px;
  @media screen and (min-width:1200px){
    width: 768px;
    height: 67px;
  }
  
}
#menu-nested-pages-1 {
  &.scrolled {
    //float: right;
    @media screen and (min-width: 1024px){
      padding-right: 7%;
    }
  }
}

.menu__inner-wrapper--desktop{
  @media screen and (max-width: 1200px){
    padding-right: 25px !important;
  }
}




