a {
	cursor: pointer;
}

.sites-button {
	background: $primary-red;
	color: $white;
	font-size: 12px;
	font-weight: bold;
	box-shadow: none;
	border: none;
	padding: 25px 110px;
	text-transform: uppercase;
    margin: 3% auto;
	letter-spacing: 1.2px;
	-webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	&.advanced-search {
	    font-size: 11px;
	    padding: 12px 15px;
	}
	&.inverse {
	    background: $white;
	    color: $primary-red;
	    border: 1px solid $primary-red;
	    &:hover,
	    &:focus {
	    	background: $primary-red;
	    	color: $white;
	    	border: 1px solid $white;
	    }
	}
	&.alerts {
	    position: absolute;
	    margin-bottom: 0;
    	margin-top: 45px;
    	margin-left: 40px;
	}
}