a {
	cursor: pointer;
}


.sites-button {
	background: $primary-red;
	color: $white;
	font-size: 12px;
	font-weight: bold;
	box-shadow: none;
	border: none;
	padding: 16px 58px;
	text-transform: uppercase;
  margin: 3% auto;
	letter-spacing: 1.2px;
  transition: all .3s ease-in-out;
  border: 2px solid $primary-red;
	&.advanced-search {
	    font-size: 11px;
	    padding: 18px 16px;
	    margin: 10px 0 20px;
		@media screen and (max-width: 768px) {
		    margin: 60px 0 20px;
	    }
	}
	&.inverse {
	    background: $white;
	    color: $primary-red;
	    border: 2px solid $primary-red;
	    &:hover,
	    &:focus {
	    	background: $primary-red;
	    	color: $white;
    		border: 2px solid $primary-red;
	    }
	}
	&.alerts {
	    position: absolute;
	    margin-bottom: 0;
    	margin-top: 45px;
    	margin-left: 40px;
	}
	&.desktop__full--width {
		width: 100%;
	}
	&.mobile__full--width {
		@media screen and (max-width: 768px) {
		    display: block;
		    width: 70%;
		    margin: 0 auto 30px;
		}
	}
	&.subscribe {
		width: 100%;
		padding-left: auto;
		padding-right: auto;
	}
	&.subscribe__content--block {
	    float: right;
    	margin-top: -32px;
		@media screen and (max-width: 768px) {
			float: left;
    		margin: 20px 0;
    	}
	}
	@extend %globalHoverRed;
}
.advanced-search-container {
	@media screen and (max-width: 768px) {
		text-align: center;
	}
}