.dotted {
  border-style: dashed;
  margin: 2rem 0;
}


.slide-description-heading {
	border-bottom: 3px solid $black;
	width: 30%;
	margin-bottom: 3%;
	display: block;
	&.red {
		border-bottom: 3px solid $primary-red;
	}
	@media screen and (max-width: 640px) {
		margin-left: 10px;
	}
}

.list-divider {
	display: block;
	height: 2px;
	background-color: $primary-grey;
	width: 80px;
	margin:	20px 0 16px;
	&.red {
		background-color: $primary-red;
	}
	&.people__deatils {
		margin: 8px 0;
	}
}

.page__divider {
    height: 2px;
    display: block;
    width: 100%;
    margin: 40px auto;
    &.grey {
    	background-color: $primary-grey;
    }
}