

.dotted {
  border-style: dashed;
  margin: 2rem 0;
}


.slide-description-heading {
	border-bottom: 3px solid $black;
	width: 30%;
	display: block;
	&.red {
		border-bottom: 3px solid $primary-red;
	}
	@media screen and (max-width: 640px) {
		margin-left: 10px;
	}
}

.list-divider {
	display: block;
	height: 1px;
	background-color: $primary-grey;
	width: 80px;
	margin:	20px 0 16px;
	&.red {
		background-color: $primary-red;
	}
	&.people__deatils {
		margin: 8px 0;
	}
	&.insights {
		width: calc(100% - 15px);
		margin: 40px 0 10px;
	}
	&.smaller {
		width: 30px;
	}
	&.smallest {
		width: 20px;
	}
	&.letter__links {
		margin-top: 21px;
	}
	&.about__deatils,
	&.insight__deatils {
		height: 4px;
		width: 60px;
	}
	&.mobile {
		display: block;
		height: 2px;
		width: 100%;
		margin: 20px 0 16px;
	}
	&.mobile__centered {
    	@media screen and (max-width: 768px){	
			margin: 20px auto;
			width: 80px;
    	}
	}
}

.page__divider {
    height: 2px;
    display: block;
    width: 100%;
    margin: 40px auto;
    &.grey {
    	background-color: $primary-grey;
    }
    &.red {
    	background-color: $primary-red;
    }
	&.inline__block {
		display: inline-block;
	}
}

.hiring-divider {
	width: 20px;
	border-bottom: solid $primary-red 1px;
	height: 1px;
}