.dotted {
  border-style: dashed;
  margin: 2rem 0;
}


.slide-description-heading {
	border-bottom: 3px solid $black;
	width: 30%;
	margin-bottom: 3%;
	display: block;
	&.red {
		border-bottom: 3px solid $primary-red;
	}
}

.list-divider {
	display: block;
	height: 2px;
	background-color: $primary-grey;
	width: 80px;
	margin:	20px 0 16px; 
}