// header

.menu__outer-wrapper--desktop-on-scroll {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    display: none;
}

#mastheadOnScroll {
	position: relative;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
	height: 92px;
}


.top-right-icon-group {
		text-align: right;
		width: 50%;
		position: absolute;
		top: 7.5%;
		right: 5%;
		text-transform: uppercase;
	}
	#public-interest {
		margin-left: 10%;
		font-size: 1em;
	}
	.site-header {
		background-color: $white;

	}
	.title-bar-title{
		padding-top: 2.5%;
		padding-bottom: 2.5%;
	}
	.custom-header-nav {
		background-color: $white;
		display: block;
		padding: 2%;
		padding-left: 0;
		font-family: $br-avenir-heavy;
	 li { 
	 		display: inline-block; 
	 		color: $br-black;
	 		padding-left: 3.5%;
	 		text-transform: uppercase;
	 	}
		
	}
	.right-icon-link {
		text-decoration: none;
		color: $br-black;
		padding-left: 2%;
		padding-right: 3%;
	}
		#right-header-menu-last {
		position: absolute;		
		right: 6.5%;
		font-size: .85em;
	}
	#right-header-menu-first {
		position: absolute;		
		right: 20%;
		font-size: .80em;
		padding-right: 5%;
		border-right: 0.5px solid $br-black;
	}
	.mobile-menu {
		content: "";
		width: 95%;
		border-bottom: 1px solid $primary-grey;
		margin: 0 auto;
	}
	.desktop-menu {
		a {word-break: keep-all !important;}
	}

// Hero Slider

.slide__content--outer-wrapper {
	display: table;
	height: 100%;
}

.slide__content--inner-wrapper {
	display: table-cell;
	vertical-align: middle;
}

// svg container
.slider-svg {
	height: 20px;
	margin-top: -20px;
	position: relative;
	z-index: 10;
}



   
button.slick-arrow  {
	display: none !important;
}

.body-text.hero {
	font-family: $brfont;
	line-height: 1.8;
	font-size: 24px;
}
   
.homepage-post__image--wrapper {
	height: 90px;
	width: 100%;
	background-size: cover !important;
}


.blog-grid-img {
	width: 100%;
}
.human-icon {
	position: fixed;
	right: 10%;
	bottom: 10%;
	@include breakpoint(medium){
		width: 80px;
		height: 80px;
	}
	width: 40px;
	height: 40px;
	padding: 30px;
	background: $primary-red url('../images/human-icon.png') no-repeat center;
	background-size: 40%;
	z-index: 999;
	@media screen and (max-width: 768px){
		bottom: 20%;

	}
}
.featured_firsts-image{
	max-height: 100%;
	z-index: 999;
	vertical-align: top;
}
.featured_firsts-text-container,
.homepage_post-text-container {
	display: inline-block;
	margin: 50px;
	&.has-image {
		margin-top: 20px;
	}
}
.featured_firsts-grid {
	padding-left: 0;

}
.public-interest-btn {
	background-color: $primary-red;
	color: $white;
	width: 60%;
	padding: 5%;
	text-transform: uppercase;
}
.prev-slider-home, .next-slider-home {
	width:30px;
	display: inline-block;
	margin: 7px;
	cursor: pointer;
	@include breakpoint(medium){
		margin: 15px;
	}	
}
.home-button-container {
	@extend %centeronMobile; 
}
.arrows-container {
	@extend %centeronMobile;
}
.homepage-slider-title  {
	color: $white;
}

.slide-description {
	p {
		color: $black;
		@extend %centeronMobile;
	}
	h2 {
		color: $black;
			@extend %centeronMobile;
	}
}
.slide-description-heading {
	@media screen and (max-width: 768px){
		margin: 0 auto;
	}
}
.homepage-full {
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	@include breakpoint(medium){
		height: 500px;
	}
	img {
		width: 100%;
		@media #{$large-up} {
			max-width: 300px;
		}
	}
}
.homepage-grid-element {
	border-style: solid !important;
	border-width: 10px !important;
	border-color: $primary-grey !important;
	background-color: $white;
	margin: 0 auto;
	@media screen and (max-width: 768px){
		text-align: center;
	}
}
.homepage-slide-title {
	border-bottom: 5px solid $white;
}
.slider-button {
	background-color: $primary-red;
}
.homepage-grid-interior {
	padding: 10%;
}

.slick-slide{
	height: 600px;
}
.slide {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@include breakpoint(large) {
	.prev-slider-home, .next-slider-home {
		width: 30px;
	}
	.slick-slide{
		height: 650px;
	}
	
}


@include breakpoint (medium) {
	.homepage-grid-element{
		height: 500px;
	}	
}
.menu__wrapper--desktop {
		padding: 20px 0px 20px;
}

// ul.desktop-menu {
// 	padding-top: 28px;
// }

// increase width of menu to align with icons on top right
#menu-nested-pages {
	display: table !important;
	width: 100% !important;
	li > a {
		@media screen and (max-width:1035px){
			padding-right: 1.25rem !important;
		}		
	}
}

ul.menu li a{
	color: $black;
	font-family: $brfont;
	font-size: 12px;
	font-weight: 800;
	text-transform: uppercase;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
	transition: width 2s, height 2s, background-color 2s, transform 2s;
	letter-spacing: 2.85px;
	&:after {
		border: none !important;
	}
	&:hover {
		color: $primary-red;
	}
}

.mobile-menu {
	border-bottom: none;
}

.menu__wrapper--desktop-on-scroll {
	padding: 10px 0 10px;
}

ul.desktop__menu--icons-list {
	margin: 0;
	float: right;
	list-style: none;
	padding-top: 28px;
	position: relative;
	.tag__text {
		text-transform: uppercase;
	}
	a {
		color: $br-black;
		letter-spacing: $letter-spacing-global;
		font-size: 10px;
	}
	li {
		display: inline-block;
		padding-left: 20px;
		padding-bottom: 10px;
	}

}

.desktop__menu__icon__single {
	width: 12px;
	display: inline-block;
	vertical-align: middle;
}


.subnav__color-block {
	z-index: 1;
	margin-top: 2%;
	width: 400%;
  height: 60px;
  position: relative;
  left: -200%;
  background-color: $primary-grey;
  top: 0;
  display: none;
  margin-bottom: -32px;
}


.featured-blog__grid {
	padding-bottom: 10px;
}

.homepage__image--wrapper {
	max-height: 100px;
	background-size: cover;
	&.featured__blog {
		height: 90px;
		@include breakpoint(large){
			height: 100%;
			background-position-x: 75%; 
		}		
		max-height: none;
		background-size: cover;
		background-position: center; 
	}	
}

.homepage-header-container{
	border-bottom: 2px solid $primary-grey;
	width: 100%;
	display: inline-block;
	margin-bottom: 14px;
}
.featured_firsts-container {
	display: inline-block;
}
.homepage-header-text {
	color: $primary-red;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: $letter-spacing-global;
	margin-bottom: 14px;
}

.homepage-date {
	font-size: 12px;
	font-weight: bold;
	opacity: 0.4;
	color: $black;
}


.homepage-arrow {
	border-top: 1px solid $primary-grey;
	border-left: 1px solid $primary-grey;
    height: 45px;
    width: 70px;
    position: absolute;
    right: 0px;
    bottom: 0px;
	background: url('../images/red-arrow.png') no-repeat center;
	a {
		z-index: 2;
	    height: 100%;
	    width: 100%;
	    position: relative;
	    display: block;
	}
}

span.red__border--top {
	position: absolute;
	top: 0;
	height: 12px;
	width: 100%;
	background-color: $primary-red;
	display: block;
	margin-bottom: 40px;
	// mobile breakpoint
	@media screen and (max-width: 768px){
		position: relative;
	}
}


.homepage-section-3-title {
	font-family: $brfont;
	font-size: 22px;
	color: $black;
	letter-spacing: $letter-spacing-global;
	@extend %centeronMobile;
}

@include breakpoint(medium) {
	.public-interest-learn-more {
		max-height: 600px;
		background-color: $white;
		margin-top: 7.5%;
		margin-left: 2.5%;
		max-width: 40%;
		padding: 2.5%;
		vertical-align: middle;
		h5 { text-transform: uppercase;}
	}
}

.stay-current {
	color: $br-black;
	margin: 0 auto 50px;
	text-align: center;
	padding-top: 60px;
	background-color: $primary-grey;
	h4 {
			font-family: $brfont;
	    text-transform: uppercase;
	    margin: 0;
	    letter-spacing: $letter-spacing-global;
	    font-weight: 500;
	    font-size: 25px;
	}
}
.pub-interest-title {
	margin-top: 3%;
	margin-bottom: 3%;
	border-bottom: 1px solid $primary-red;
	width: 60%;	
}
.homepage-slider-title, .homepage-element-body {
	font-family: $brgaramond;
	font-size: 26px;
	line-height: 1.5;	
}
.homepage-slider-title{
	margin-bottom: 3%;
} 
.public-interest-learn-more {
	font-family: $brfont;
}
.homepage-header-text {
	font-family: $brfont;
} 

.homepage__tiles--wrapper {
	background-color: $primary-grey;
	padding-bottom: 60PX;
}
.menu li {
	z-index: 1;
}
.test-content {
	display: none; 
}

.homepage__lower__section {
	p {
		font-family: $brgaramond;
		margin-bottom: 20px;
		color: $black;
		transition: color .3s ease-in-out;
		font-size: 18px;
	}
}

// .page-template-homepage {
// 	.title__text {
// 		font-family: $brfont !important;
// 		font-size: 16px !important;
// 	}
// }