.page-template-page-homepage {
		font-family: $brfont;
		background: $grey-background;
		.homepage-slider-title {
			color: $white;
		}
		.homepage-full {
			display: block;
			background-repeat: no-repeat;
			background-size: cover;
			@include breakpoint(medium){
				height: 500px;
			}
			img {
				width: 100%;
				@media #{$large-up} {
					max-width: 300px;
				}
			}
		}
	@include breakpoint(medium){
		.small-3{
		width: auto;
	}
}
.homepage-grid-element {
	border-style: solid;
	border-width: 10px;
	border-color: $grey-background;
	background-color: $white;
	margin: 0 auto;
}
.homepage-slide-title {
	border-bottom: 2px solid $white;
	border-bottom-width: 30%;
}
	.slider-button {
		background-color: $primary-red;
	}
@include breakpoint(medium){
	.homepage-grid-interior {
		clear: right;
	}
		.insights-image{
			float: left;
			margin: 1%;
		}
		.homepage-grid-element{
			height: 400px;
		}		
	}

}
@include breakpoint(medium){
	.slider-container {
		height: 100vh;
		margin: 5%;
	}
	.slide {
		height: 100vh;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center; 
	}
}





 