.page-template-page-homepage {

	.public-interest-btn {
		background-color: $primary-red;
		color: $white;
		width: 60%;
		padding: 5%;
		text-transform: uppercase;
	}
	.prev-slider-home {
		width:5%;
	}
	.next-slider-home{
		width: 5%;
	}

		font-family: $brfont;
		background: $primary-grey;
		.homepage-slider-title  {
			color: $white;
		}
		.slide-description {
			p {
				color: $white;
			}
		}
		.homepage-full {
			display: block;
			background-repeat: no-repeat;
			background-size: cover;
			@include breakpoint(medium){
				height: 500px;
			}
			img {
				width: 100%;
				@media #{$large-up} {
					max-width: 300px;
				}
			}
		}
	.homepage-grid-element {
		
		border-style: solid;
		border-width: 10px;
		border-color: $primary-grey;
		background-color: $white;
		margin: 0 auto;
	}
	.homepage-slide-title {
		border-bottom: 5px solid $white;
	}
		.slider-button {
			background-color: $primary-red;
		}
@include breakpoint(medium){
	.homepage-grid-interior {
		clear: right;
	}
		.insights-image{
			float: left;
			max-height: 100%;
		}
		.homepage-grid-element{
			height: 300px;
		}		
	}
	.slide-description {
			padding-top: 20%;
			padding-bottom: 30%;
			padding-left: 15%;
			padding-right: 15%;
		}
	
	.slide {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	@include breakpoint(medium){
	.slider-container {
		margin-bottom: 1%;
	}
	.slide {
			height: 60vh;
		}
}
@include breakpoint(large){
		.slide {
			height: 80vh;
		}
		.prev-slider-home, .next-slider-home {
			width: 30%;
		}

}
	.slide-description-heading {
		border-bottom: 1px solid $white;
		width: 30%;
	}
	.slick-arrow {
		color: transparent;
	}

	.human-icon {
		position: absolute;
		right: 10%;
		bottom: 10%;
		width: 7.5%;
		height: 7.5%;
		padding: 1.5%;
		background: $primary-red url('../images/human-icon.png') no-repeat center;
		background-size: contain;
		z-index: 999;
	}

	.prev-slider-home {
		position: absolute;
		top: 80%;
		left: 20%;
		list-style-type: none;
		background: url('../images/back-slider.png') no-repeat;
		background-size: contain;
	}
	.next-slider-home {
		position: absolute;
		top: 80%;
		left: 25%;
		list-style-type: none;
		background: url('../images/forward-slider.png') no-repeat;
		background-size: contain;
	}

	.homepage-header-container{
		border-bottom: 2px solid $primary-grey;
		width: 50%;
	}
	.home-button{
		background-color: $primary-red;
		color: $white;
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 2%;
		padding-bottom: 2%;
		text-transform: uppercase;
	}
	.homepage-header-text {
		color: $primary-red;
	}
	.public-interest-learn-more {
		margin-top: 7.5%;
		margin-left: 2.5%;
		width: 40%;
		padding: 2.5%;
		background-color: $white;
		h5 { text-transform: uppercase;}
	}
	.stay-current {
		color: $br-black;
		margin: 5% auto;
		text-align: center;
		p {
			text-transform: uppercase;
		}
		border-bottom: 3px solid $primary-red;
		width: 20%;
	}
	.pub-interest-title {
			margin-top: 3%;
			margin-bottom: 3%;
			border-bottom: 1px solid $primary-red;
			width: 60%;	
		}
		.homepage-slider-title, .homepage-element-body {
			font-family: $brgaramond;
		}
		.public-interest-learn-more {
			font-family: $brfont;
		}
		.homepage-header-text {
			font-family: $brfont;
		}
} 