{# Template for email notice on site emails #}

<div id="emailModal" class="vellum black--vellum modal__background diversity hidden">
    <div class="row">
     	<div class="diversity__modal--outer-wrapper table__wrapper relative">
        	<div class="diversity__modal--inner-wrapper table__innner">
          		<div class="diversity__modal--text-wrapper email__modal">
		            <p class="title__text text-align__center">
		              Notice
		            </p>
		            <p class="modal__text">
		              You understand and agree that transmitting information to Brown Rudnick by e-mail does not establish an attorney-client relationship. By clicking the "Agree" link below, you acknowledge that (i) Brown Rudnick has no obligation to maintain the confidentiality of any information you submit to Brown Rudnick unless Brown Rudnick already represents you or Brown Rudnick later agrees to represent you; thus, if you are not a client, information you submit to Brown Rudnick by e-mail may be disclosed to others and (ii) you have read and understand the <a class="link red inline__link" href="/terms-of-use/" target="_blank">Brown Rudnick Terms of Use</a> and <a class="link red inline__link" href="/privacy-policy/" target="_blank">Privacy Policy</a> and that you agree to be bound by the terms and conditions of such Terms of Use and Privacy Policy.
		            </p>
		            <p class="modal__text">
		            	If you would like to discuss becoming a client, please contact one of Brown Rudnick's attorneys to arrange for a meeting or telephone conference. Thank you for your interest in Brown Rudnick.
		            </p>

		            <div class="text-align__center">
			            <div class="small-6 medium-4 large-4" style="margin: 0 auto;">
			            	<a id="email-modal-close"><p class="sites-button modal-button">agree</p></a>
			          	</div>
			            <div class="small-6 medium-4 large-4" style="margin: 0 auto;">
			            	<a id="no-email-modal-close"><p class="sites-button modal-button">disagree</p></a>
			            </div>
			          </div>
         		</div>
        	</div>  
     	</div>
    </div>  
</div>