//  Brown Rudnick Brand Settings
//  -----------------------------
//
//  Table of Contents

// 1. Brand Colors
// ---------------
// 
//
//
//
// 2 . Typography

$brfont: 'Avenir', Helvetica, Arial, sans-serif;
$brgaramond: 'adobe-garamond-pro', serif;
$br-avenir-heavy: 'Avenir Medium', Helvetica, Arial, sans-serif;
$primary-red: #b91628;
$white: #fff;
$black: #000;
$primary-grey: #f0f0f0;
$darker-grey: #a7a6a6;
$br-black: #000;  
$light-grey-three: #a7a7a7;
$very-light-grey: #fbfbfb;
$darker-grey-two: #c9c9c9;
$svg-stroke: #231f20;
$letter-spacing-global: 3px;

body {
	font-family: $brfont !important;
}

// general purpose variables

// footer elements on mobile
%footerMobile {
	@media screen and (max-width: 768px){
		display: table;
		margin: 0 auto;
	}
}

// no borders for various elements
%cleanBorder {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    box-shadow: none !important;
}


%buttonAbsolute{
	@include breakpoint(medium){
		position: absolute !important;
    margin-bottom: 0 !important; 
  	margin-top: 45px !important;
  	margin-left: 40px !important;
	}
}
.button__absolute {
	@extend %buttonAbsolute;
}
%greyBold {
	color: $darker-grey;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 2px;
}

%centeronMobile {
	text-align: center;
	@include breakpoint(medium){
		text-align: left;
	}
}

%selectBackground {
	-webkit-appearance: none;
  -moz-appearance: none;
  background: url('../../assets/images/down-carrat.svg') no-repeat;
  -webkit-background-size: 9px 6px;
  background-size: 9px 6px;
  background-position: right -1rem center;
  -webkit-background-origin: content-box;
  background-origin: content-box;
  padding-right: 1.5rem;
  padding-left: 0;
}
%globalHoverRed {
		transition: all .5s ease-in-out;
	&:hover{
		color: $primary-red;
		background: transparent;
		border: 1px solid $primary-red;
	}
}
%globalHover {
	transition: all .5s ease-in-out;
	&:hover{
		color: $white;
		background: transparent;
		border: 1px solid $white !important;
	}
}


%breadCrumbwrapper {
	@media screen and (min-width: 768px) and (max-width:1224px) {
		padding-left: 3%;
	}
}
//SVG PATH DEFS
.cls-1	{
	fill:none;
	stroke:$svg-stroke;
	stroke-linecap:round;
	stroke-miterlimit:10;
	stroke-linejoin:round;
	stroke-width:5px;
	}
.cls-2 {
	fill:$svg-stroke; 
	stroke-width:5px;
	stroke-linecap:round;
}
.arrows-svg {
	fill:none;
	stroke:$svg-stroke;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-width:3px;
}