&.grey__background {
	background-color: $primary-grey;
}


.title__text {
	font-family: $brgaramond;
	font-size: 30px;
	margin-bottom: 20px;
	p {
		line-height: 1.2;
	}
	&.smaller {
		font-size: 24px;
	}
	&.people__details {
		margin-bottom: 2px;
		@media screen and (max-width: 1140px) {
			font-size: 20px;
		}
	}
}

.body__text {
	font-family: $brfont;
	font-size: 16px;
	line-height: 1.625;
	p {
		font-family: $brfont;
		font-size: 16px;
		line-height: 1.625;
	}
	&.people__details {
		margin-bottom: 2px;
		font-size: 14px;
	}
	&.service__text {
		margin-left: 30px;
		margin-top: -23px;
	}
}

.tag__text {
	font-family: $brfont;
    font-size: 12px;
    line-height: 2;
    font-weight: 800;
	&.people__details {
		margin-bottom: 2px;
	}
}

.sidebar__color-block--outer-wrapper {
    height: 60px;
    background-color: $primary-grey;
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

.sidebar__color-block--wrapper {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.padding__wrapper {
    display: block;
    position: relative;
    &.top-and-bottom.sixty {
    	padding: 60px 0;
    }
    &.ten.sides__only {
    	padding: 0 10px;
    }
    &.forty.sides__only {
    	padding: 0 40px;
    }
    &.ten.right__only {
    	padding-right: 10px;
    }
}

.margin__0 {
	margin: 0;
}

.hidden {
	display: none;
}

.hover-arrow {
	width: 29px;
	margin: -10px auto;
	opacity: 0;
	display: block;
}

ul.list-style__none {
	list-style: none;
	margin: 0;
}

li.list-item__sidebar {
	a {
		font-size: 14px;
		line-height: 2.2;
		text-transform: uppercase;
		font-family: $brfont;
		letter-spacing: 1.2px;
		font-weight: 500;
	}
}

.display-block {
	display: block;
}

.body__wrapper {
	margin: 70px 0;
}

h4.list__header {
	font-size: 24px;
	font-family: $brgaramond;
	line-height: 1;
	&.red {
		color: $primary-red;
	}
}

.accordion__trigger {
	cursor: pointer;
}

a.link {
	color: inherit;
	cursor: pointer;
	display: block;
	-webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
	&:hover,
	&:focus {
		color: $primary-red;
	}
	&:visited {
		color: $br-black;
		&:hover {
			color: $primary-red;
		}
	}
	&.red {
		color: $primary-red;
	}
}

h3.title {
	font-size: 30px;
	font-family: $brgaramond;
	&.tile {
    	max-width: 200px;
    	margin: auto;
	}
}

.margin-bottom--0 {
	margin-bottom: 0;
}

.margin-bottom--20 {
	margin-bottom: 20;
}

.margin-top-60 {
	margin-top: 60px;
}

.black {
	color: $br-black;
}
.white {
	color: $white;
}

.text-align__center{
	text-align: center;
}	

.menu .active > a {
	color: $primary-red;
}

.featured-image__header--text-outer-wrapper {
	height: 100%;
}


.featured-image__header--image-wrapper {
	background-color: $primary-grey;
	height: 215px;
}

.featured-image__header--text-wrapper {
	display: table;
	height: 100%;
}

.featured-image__header--text-inner-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.page__header {
	font-size: 60px;
	font-family: $brgaramond;
	@media screen and (max-width: 640px) {
		font-size: 40px;
		padding-left: 10px;
	}
}

.experience-tile__outer-wrapper {
	height: 240px;
    border: solid 18px $white;
    -webkit-box-shadow:inset 0px 0px 0px 14px $primary-grey;
    -moz-box-shadow:inset 0px 0px 0px 14px $primary-grey;
    box-shadow:inset 0px 0px 0px 14px $primary-grey;
    &.first {
    	border-left: none;
    }
    &.last {
    	border-right: none;
    }
	&.orange {
		background-color: orange;
	}
	&.teal {
		background-color: teal;
	}
	&.purple {
		background-color: purple;
	}	
}

.experience-tile__wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.experience-tile__inner-wrapper {
    vertical-align: middle;
    display: table-cell;
}

.color-block__experience {
	height: 100px;
	background-color: $primary-grey;
	display: table;
	width: 100%;
	border: 8px solid $white;
	padding: 4px;
}

.color-block__experience--inner-wrapper {
	width: 240px;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}

.experience__link--wrapper {
	max-width: 240px;
    display: block;
    margin: 0 auto;
}

a.experience__link {
	display: block;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
	line-height: 1.8;
	margin-top: 2px;
}

.columns.last.float-left {
	float: left;
}

.people__details--outer-wrapper {
	display: table;
	height: 185px;
    padding-left: 10px;
}
.people__details--inner-wrapper {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}
img.people__details {
	max-width: 200px;
	@media screen and (max-width: 1140px){
		max-width: 175px;
	}
	@media screen and (max-width: 1024px){
		max-width: 200px;
	}
}
.service {
	float: left !important;
	min-height: 50px;
	&:before {
		content: " ";
		height: 8px;
		width: 8px;
		display: inline-block;
		position: relative;
		background-color: $primary-red;
	}
}