.hover-arrow {
	width: 29px;
	margin: -10px auto;
	opacity: 0;
	display: block;
}

ul.list-style__none {
	list-style: none;
	margin: 0;
}

li.list-item__sidebar {
	a {
		font-size: 14px;
		line-height: 2.2;
		text-transform: uppercase;
		font-family: $brfont;
		letter-spacing: 1.2px;
		font-weight: 500;
	}
}

.display-block {
	display: block;
}

.body__wrapper {
	margin: 70px 0;
}

h4.list__header {
	font-size: 24px;
	font-family: $brgaramond;
	line-height: 1;
	&.red {
		color: $primary-red;
	}
}

a.link {
	color: inherit;
	cursor: pointer;
	-webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
	&:hover,
	&:focus {
		color: $primary-red;
	}
	&:visited {
		color: $br-black;
		&:hover {
			color: $primary-red;
		}
	}
	&.red {
		color: $primary-red;
	}
}

h3.title {
	font-size: 30px;
	font-family: $brgaramond;
	&.tile {
    	max-width: 200px;
    	margin: auto;
	}
}

.margin-bottom--0 {
	margin-bottom: 0;
}

.margin-top-60 {
	margin-top: 60px;
}

.black {
	color: $br-black;
}
.white {
	color: $white;
}

.text-align__center{
	text-align: center;
}	

.menu .active > a {
	color: $primary-red;
}

.featured-image__header--text-outer-wrapper {
	height: 100%;
}


.featured-image__header--image-wrapper {
	background-color: $primary-grey;
	height: 215px;
}

.featured-image__header--text-wrapper {
	display: table;
	height: 100%;
}

.featured-image__header--text-inner-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.page__header {
	font-size: 60px;
	font-family: $brgaramond;
}

.experience-tile__outer-wrapper {
	height: 240px;
    border: solid 18px $white;
    -webkit-box-shadow:inset 0px 0px 0px 14px $primary-grey;
    -moz-box-shadow:inset 0px 0px 0px 14px $primary-grey;
    box-shadow:inset 0px 0px 0px 14px $primary-grey;
    &.first {
    	border-left: none;
    }
    &.last {
    	border-right: none;
    }
	&.orange {
		background-color: orange;
	}
	&.teal {
		background-color: teal;
	}
	&.purple {
		background-color: purple;
	}	
}

.experience-tile__wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.experience-tile__inner-wrapper {
    vertical-align: middle;
    display: table-cell;
}

.color-block__experience {
	height: 100px;
	background-color: $primary-grey;
	display: table;
	width: 100%;
	border: 8px solid $white;
}

.color-block__experience--inner-wrapper {
	width: 240px;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}

.experience__link--wrapper {
	max-width: 240px;
    display: block;
    margin: 0 auto;
}

a.experience__link {
	display: block;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
	line-height: 1.8;
	margin-top: 2px;
}

.columns.last.float-left {
	float: left;
}